html {
    background-color: #F0F3F5;
    color: #737A80;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

body {
    margin: 0;
    padding: 15px 0;
}

h2, h3 {
    color: #363C40;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

h3 {
    line-height: 1.2;
}

.panel {
    background-color: #F7FAFC;
    border: 1px solid #DEE1E3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 2px solid #5EB0DE;
    box-shadow: 0 2px 0 -1px #E9ECEE;
    margin: 25px auto;
    max-width: 910px;
}

.panel header {
    background-color: #FFF;
    border-top: 8px solid #2F8CC4;
}

.panel .title {
    border-bottom: 2px solid #DAE1E6;
    font-size: 22px;
    margin: 0 20px;
    padding: 18px 0 7px;
}

.panel section {
    padding: 0 20px;
    position: relative;
}

.panel h3 {
    font-size: 22px;
    margin: 1.2em 0 0;
}

.anchor {
    display: block;
    height: 1px;
    position: absolute;
}

@media screen and (min-width: 600px) {
    .panel .title {
        font-size: 26px;
        padding: 13px 0;
    }
}