html {
    background-color: #F0F3F5;
    color: #737A80;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

body {
    margin: 0;
    padding: 15px 0;
}

h2, h3 {
    color: #363C40;
    font-weight: 300;
    line-height: 1;
    margin: 0;
}

h3 {
    line-height: 1.2;
}

.panel {
    background-color: #F7FAFC;
    border: 1px solid #DEE1E3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 2px solid #5EB0DE;
    box-shadow: 0 2px 0 -1px #E9ECEE;
    margin: 25px auto;
    max-width: 910px;
}

.panel header {
    background-color: #FFF;
    border-top: 8px solid #2F8CC4;
    width: 100%;
}

.panel .title {
    border-bottom: 2px solid #DAE1E6;
    font-size: 21px;
    margin: 0 20px;
    padding: 18px 0 7px;
}

.panel header p {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 680px;
}

.panel nav {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 5px 0;
    position: relative;
    justify-content: space-around;
}

.panel svg {
    height: 26px;
    transition: height 200ms ease;
    width: auto;
}

.panel nav a {
    box-sizing: border-box;
    color: #9da2a6;
    flex-basis: 33.3333%;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.panel a.active {
    color: #288BC6;
}

.panel a.active svg path {
    fill: #288BC6
}

.panel nav span {
    display: block;
}

.panel section {
    padding: 0 20px;
    position: relative;
}

.panel h3 {
    font-size: 22px;
    margin: 1.2em 0 0;
}

.panel p:first-of-type {
    margin-top: 0.5em;
}

.anchor {
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: -205px;
    width: 100%;
    z-index: -1;
}

.tips {
    color: #42484C;
    list-style: none;
    padding: 0;
}

.tips li {
    padding: 7px 10px 7px 30px;
    position: relative;
}

.tips li::before {
    background-image: url("./icons/checkmark.svg");
    background-repeat: no-repeat;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 20px;
}

header.sticky {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    top: 0;
    position: fixed;
    pointer-events: none;
    transition: all 200ms ease;
}

header.sticky p {
    display: none;
}

header.sticky nav a {
    font-size: 11px;
    padding: 5px 3px;
}

header.sticky nav svg {
    height: 26px;
    padding: 0;
}

header.sticky .title {
    font-size: 21px;
    padding: 18px 0 7px;
}

header.sticky.active {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    z-index: 10;
}

@media screen and (min-width: 348px) {
    .anchor {
        top: -190px;
    }
}

@media screen and (min-width: 470px) {
    .panel nav a {
        flex-basis: auto;
    }

    .anchor {
        top: -135px;
    }
}

@media screen and (min-width: 600px) {
    .panel .title {
        font-size: 26px;
        padding: 17px 0 16px;
    }

    .panel svg {
        height: 48px;
        padding: 10px 0;
    }

    .panel nav a {
        font-size: 13px;
        padding-bottom: 14px;
    }

    .tips {
        column-count: 2;
    }

    .tips li {
        break-inside: avoid;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 15px;
    }

    .tips {
        font-size: 13px;
    }

    .panel h3 {
        font-size: 26px;
    }

    .panel p {
        padding-right: 40px;
    }
}
